:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.results {
  font-size: 1.5rem;
  font-weight: 800;
}
body {
  background-color: aliceblue;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

header {  
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  word-wrap: break-word;
  max-width: 300px;
}
.gameGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.menu {
  display: flex;
  flex-direction: column;
}
img {
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5%;    
}
button {
  margin:10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: inherit;
  ;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.modal {
  position: fixed;
  top: 20%;
  background-color: antiquewhite;
  width:50%;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}
@media (max-width: 440px) {  
  div#root {
    padding: 0;
  }
  header {
    flex-direction: column;
  }
  h1 {
    font-size: 1.1rem;
  }
  
  
  .scores {
    display: flex;
    gap: .5rem;
    
    background-color: #646cff;
    width: 100%;
    
    
  }
  .results {
    font-size: 1.5rem;
    margin: 10px auto;    
  }
  .menu {
    position: fixed;
    bottom: 0;
    background-color: #646cff;
    width: 100%;
    display: block;

  }
  .menu > button {
    margin: 5px;
  }

  
  img {
    width: 150px;
    height: 150px;
    
  }
  .gameGrid {
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    margin: 10px 0 40px 0;

    
  }
}
@media (min-width: 1000px) {
  .gameGrid {
    grid-template-columns: repeat(4, 1fr);
    
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    
  }
}
